.grid-container{
    border: 2px rgb(105, 104, 112) solid;
    width: 2000px;
    height: 100px;
    display: grid;
    grid-template-columns: 400px 400px 400px 400px 400px;
    text-align: center;
    padding: 20px;
    background-color: brown;
}


.grid{
    grid-template-columns: 200px 200px 200px 200px 200px;
    display: inline;


}
.grid-container2{
    border: 2px rgb(105, 104, 112) solid;
    background-color: rgb(250, 215, 218);

}
.column {
    float: left;
    width: 10%;
    padding: 5px;
  }
  
h1{
    text-align: center;
}

}


 